@import "tailwindcss";

/* https://tailwindcss.com/docs/theme */
@theme {
  --color-primary: var(--color-emerald-500);
  --color-danger: var(--color-red-700);

  --ease-boing: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Default base styles for specific HTML elements */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  /* Re-introduce the pointer cursor for all non-disabled buttons */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .field-row {
    @apply grid;
  }

  .input {
    @apply focus-within:border-primary focus:border-primary active:border-primary w-full border-2 border-black p-2 text-lg outline-none dark:border-slate-700;
  }

  .button {
    @apply inline-flex border-2 border-black px-4 py-2 transition hover:brightness-95;
  }

  .button:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .button--primary {
    @apply bg-primary text-white;
  }

  .button--secondary {
    @apply bg-gray-300 text-gray-800;
  }

  .button--danger {
    @apply bg-danger text-white;
  }
}

/* Center containers and give them a 1rem padding on either side */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
