@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #171717;
  --primary: #10b981;
  --danger: #f43f5e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f3f4f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

.button {
  @apply px-4 py-2 transition border-2 border-black hover:brightness-95;
}

.button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.button--primary {
  @apply text-white bg-primary;
}

.button--secondary {
  @apply text-gray-800 bg-gray-300;
}

.button--danger {
  @apply text-white bg-red-500;
}

.field-row {
  @apply grid;
}

.input {
  @apply w-full p-2 text-lg border-2 border-black outline-none focus:border-primary active:border-primary focus-within:border-primary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
